/* A simple css reset */
body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
    background-color: #f0f4f8;
}

/* reset for images to ensure they are 100% of the parent container width */
img {
    width: 100%;
    border-radius: 0.5em;
}

/* The hero section styling- use your OWN Hero Image URL here */
.hero {
    background-image: url('images/WEBSITE HEADER.jpg');
    height: 25vh;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    position: relative;
}

/* BIG text styling for the hero section text */
.hero-text {
    font-size: 4em;
    font-weight: bold;
    background: rgba(0, 0, 0, 0.4);
    padding: 0.5em 1em;
    border-radius: 0.5em;
}

/* nice big font on a banner style background */
.topic-title{
    color: white;
    font-size: 2em;
    padding: 0.1em 3em;
    background-color: #3b5998;
}

/* Three column grid with a nice big gap */
.topic-content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 6em;
    width: 70%;
    margin: 3em auto;
}

/* Styling for the individual topic cards rounded edges background color and a drop shadow */
.topic-card{
    background-color: #3b5998;
    color: white;
    padding: 1em;
    border-radius: 0.5em;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}

/* Hover effect on topic cards */
.topic-card:hover {
    transform: translateY(-10px);
}

/* Styling for the topic card titles */
.topic-card-text{
    font-size: 1.5em;
    margin-bottom: 0.5em;
    text-align: center;
}

/* Styling for a footer section to take a bit of space at the bottom of the page */
.footer{
    background-color: #3b5998;
    color: white;
    text-align: center;
    padding: 3em 3em;
}